@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* leaderboard progress bar styles */
progress[value] {
    background-color: rgb(202, 202, 202);
}
progress[value]::-webkit-progress-bar {
  background-color: rgb(227, 225, 225);
}
progress::-webkit-progress-value {
  background-color: rgb(74 222 128);
}
